.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

}

.footer__copyright{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: normal;
    margin: 0 auto 24px;
}

@media screen and (min-width: 545px) and (max-width: 1024px){

  .footer{
    max-width: 194px;
    max-height: 16px;
  }

  .footer__copyright{
    font-size: 14px;
    line-height: 16px;
  }

}