.header{
color:#ffffff;
display: flex ;
flex-direction: column;
align-items: center;

}

.header__logo{
    margin-top: 30px;
    margin-bottom: 92px;
    max-width: 300px;
}

.header__content{
display: flex;
flex-direction: column;
align-items: center;

}

.header__title{
    max-width: 720px;
    max-height: 200px;
    font-family: "inter-black", sans-serif;
    font-size: 96px;
    line-height: 100px;
    letter-spacing: 0%;
    text-align: center;
    margin:0 auto;
}

.header__subtitle{
max-width: 720px;
max-height: 72px;
font-size: 30px;
line-height: 36px;
text-align: center;
margin: 32px auto 64px;
}

.header__image{
    max-width: 984px;
    max-height: 615px;


}