

.main{
    display: flex;
    flex-direction: column;
    max-width: 990px;
    margin: 92px auto;
}

.main__title{
    max-width: 830px;
    font-family:"inter-black", sans-serif;
    font-size: 54px;
    line-height: 58px;
    letter-spacing: 0%;
}

.main__paragraph{
    width: 738px;
    font-size: 24px;
    line-height: 34px;
    margin: 40px 0 10px;
}

.main__quote{
    text-align: right;
    width: 738px;
    font-size: 24px;
    line-height: 34px;
    margin: 0;
}

.main__content{
    display: flex;
    flex-direction: column;
    max-width: 990px;
    margin: 92px auto;
}

.main__content-paragraph{
    width: 738px;
    font-size: 16px;
    line-height: 1.6;
}