.places{
  max-width: 984px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0 auto 76px;

}

.places__content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 460px auto;
  gap: 48px 40px;

}

.places__title{
  font-size: 72px;
  font-family:"inter-black", sans-serif;
  line-height: 76px;
  margin: 0;
}

.places__website{
  align-self: end;
}

.places__url-heading{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  line-height: 100%;
  color: rgba(170, 170, 170, 1);
  margin-bottom: 8px;

}

.places__artist{
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.places__image{
  height: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
  grid-column: 1/2;
  grid-row: 2;
}

.places__image:hover{
  opacity: 0.5;
}

.places__paragraphs{
  grid-column: 2/3;
  grid-row: 2/4 ;
  width: 484px;
}

.places__paragraph{
  font-size: 18px;
  line-height: 163%;
  margin: 0 auto 25px;

}

.places__button{
  padding: 13px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color:#ffffff;
  border-radius: 4px;
  grid-column: 3;
  grid-row: 3;
  background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
  grid-column: 1;
  grid-row: 3;
  width: 249px;
  height: 22px;
}

.places__button:hover{
  background: linear-gradient(90deg, rgba(2, 120, 254, 0.25) 0%, rgba(0, 58, 123, 0.25) 99.98%);
  ;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .places{
    max-width: 100%;
    gap: 50px;
  }

  .places__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .places__title {
    font-size: 32px;
    line-height: 35px;
    align-self: baseline;
    margin-left: 16px;

  }

  .places__website{
    padding-top: 0;
    align-self: baseline;
    margin-left: 16px;
  }

  .places__image{
    width: 100%;
  }

  .places__paragraphs{
    width: 100%;

  }
  .places__paragraph{
    font-size: 16px;
    margin: 0 16px 25px;

  }

  .places__button{
    font-size: 14px;
  }
}

@media screen and (min-width: 545px) and (max-width: 1024px){

  .places{
    max-width: 100%;
    gap: 72px;
    margin: 88px 24px 90px;
  }

  .places__content{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 340px auto;
    gap: 48px 28px;
  }

  .places__title{
  font-size: 42px;
  line-height: 46px;
  }

  .places__paragraphs{
    width: 100%;
}

.places__paragraph{
  font-size: 16px;
}
}



